.horizontal-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.description-item {
    display: flex;
    flex-direction: column; /* Aligns .description-item contents vertically. */
    margin-bottom: 10px;
}

.item {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 10px;
}

.header {
    font-weight: bold;
    margin-right: 5px;
}

/*.date-row {*/
/*    display: flex;*/
/*    border: 1px solid red;*/
/*}*/

.date-row {
    display: flex;
    margin-top: 1rem;
    flex-wrap: nowrap;
    overflow-x: auto;
}