.ticket-page-content {
    width: 70%;
    margin: auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.ticket-page-content .form-group {
    margin-bottom: 15px;
}

.ticket-page-content .form-control-file {
    display: none;
}

.ticket-page-content .form-text {
    margin-top: 10px;
}
