.comment-section form {
    margin-bottom: 5vh;
    margin-top: 7vh;
    position: relative;
}

.comment-section .comment-input {
    width: 100%;
    height: 60px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
    outline: none;
    transition: border 0.3s;
}

.comment-section .comment-input:focus {
    border-color: #999;
}

.comment-section form button {
    position: absolute;
    right: 0;
    bottom: -30px;
    padding: 5px 10px;
    border: none;
    background: #f8f8f8;
    cursor: pointer;
    transition: background 0.3s;
}

.comment-section form button[type="submit"] {
    right: 0;
}

.comment-section form button[type="button"] {
    right: 100px;
}

.comment-section form button:hover {
    background: #eee;
}

.comment {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.author-thumbnail {
    flex: 0 0 50px;
    margin-right: 15px;
}

.author-thumbnail img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.comment-main {
    flex: 1;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.comment-header h3 {
    margin: 0;
    font-size: 14px;
}

.comment-header a {
    color: inherit;
    text-decoration: none;
}

.comment-header a:hover {
    text-decoration: underline;
}

.comment-header span {
    color: #666;
    font-size: 13px;
}

.comment-content p {
    margin: 0 0 10px;
    font-size: 14px;
}

.comment-actions {
    display: flex;
}

.comment-actions button {
    margin-right: 10px;
    font-size: 12px;
    color: #666;
    border: none;
    background: none;
    cursor: pointer;
}

.replies {
    margin-left: 65px;
    border-left: 1px solid #ccc;
    padding-left: 10px;
}

.hide-button {
    display: none;
}

.show-button {
    display: inline;
}

.comment-and-checkbox {
    display: flex;
    align-items: center;
}

.comment-and-checkbox input[type="checkbox"],
.comment-and-checkbox a {
    margin: 0;
    padding: 0 0 0 5px;
}

.delete-comment-buttons{
    display: flex;
    justify-content: right;
    gap: 10px;
    margin-top: 10px
}

.big-checkbox {
    transform: scale(1.5);
    background-color: red;
    margin-right: 100px;
}
