.custom-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* high value to ensure navbar is on top of other elements */
    padding: 0 1.5rem !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
    height: 60px;
}

@font-face {
    font-family: 'homemade_appleregular';
    src: url('../assets/fonts/homemadeapple-9zz5-webfont.woff2') format('woff2'),
    url('../assets/fonts/homemadeapple-9zz5-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.title-brand {
    font-family: 'sans-serif';
}

.admin-brand {
    font-family: 'homemade_appleregular', sans-serif;
    color: red;
    transform: rotate(-15deg);
    position: absolute;
    left: 80px;
    top: 20px;
}


.profile-pic {
    height: 32px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
}

.custom-dropdown-toggle span {
    color: white !important;

}

.custom-dropdown .dropdown-toggle::after {
    color: white;
}

.custom-dropdown .dropdown-toggle:focus {
    border: none;
}





