.project-details-section {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; /* Adds space around items */
    overflow-x: auto;
}

.project-details-left {
    flex: 1;
    padding: 10px;
}

.project-details-right {
    flex: 1;
    padding: 10px;
}

.horizontal-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.second-row {
    grid-template-columns: 1fr 1fr;
    display: flex;
}

.project-details-top-container {
    background: white;
    padding: 2%;
    margin: 4% 2% 1% 2% ;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    height: 38vh;


}

.project-details-bottom-container {
    background: white;
    padding: 2%;
    margin: 2% 2% 2% 2% ;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    height: 38vh;
}

.project-details-bottom-container:first-child {
    flex: 0.45;
}

.project-details-bottom-container:last-child {
    flex: 0.55;
}

.bottom-overlapping-title {
    background: #000072;
    margin-top: -6vh;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.top-overlapping-title {
    background: #000072;
    margin-top: -6vh;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}
