.project-details-section {
    margin-top: 3vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow-x: auto;
}

.project-details-left {
    flex: 1;
    padding: 10px;
}

.project-details-right {
    flex: 1;
    padding: 10px;
}

.horizontal-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.second-row {
    grid-template-columns: 1fr 1fr;
}

.project-details-top-container {
    background: white;
    padding: 3vh;
    margin: 4vh 2vh 1vh 2vh ;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    height: 30vh;
}

.top-container {
    padding-top: 4vh;
}

.top-overlapping-title {
    background: #000072;
    margin-top: -6vh;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

/*--------------------*/
.title-text {
    font-size: 18px;
    color: white;
    font-weight: bold;
}

.title-desc-text {
    font-size: 12px;
    color: white;
    padding-left: 5px;
}

.common-parent1 {
    display: block;
    /*width: 40%;*/
    min-width: 35vw;
    max-width: 35vw;
    min-height: 60vh;
    max-height: 60vh;
}
.common-parent2 {
    display: block;
    min-width: 49.5vw;
    max-width: 49.5vw;
    min-height: 60vh;
    max-height: 60vh;
}

.outside-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.overlapping-title-view {
    background-color: #000072;
    justify-content: center;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    width: 70%;
    margin-top: 1vh;
    margin-bottom: -10.5vh;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    position: relative;
}


.content {
    background: white;
    padding: 3vh;
    margin: 4vh 2vh 1vh 2vh ;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    /*overflow-x: hidden;*/
}


.table {
    margin-top: 6vh;
    display: block;
    overflow-x: scroll;
    height: calc(100% - 40px);
    scrollbar-width: thin;
    scrollbar-color: rgba(155, 155, 155, 0.7) transparent;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.7); /* Make scrollbar always visible */
}

.table th,
.table td {
    padding: 2px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*.table-container{*/
/*    overflow: auto;*/
/*}*/
