.accordion-container {
    width: 90%;
    flex: 1;
    background: white;
    padding: 2%;
    margin: 3% 5% 5% 5% ;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);

}

.accordion-item {
    margin-bottom: 10px;
}

.accordion-content {
    display: inline;
    justify-content: space-between;
    align-items: start; /* or "center" if you want the buttons to be vertically centered */
}

.accordion-buttons {
    display: flex;
    gap: 10px; /* adjust as needed */
    justify-content: right;
}


.content-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.main-content {
    display: flex;
    flex: 1;
}

.SideMenu {
    flex: 0 0 200px;
}

.custom-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    background: #eaeef3 ;
    border-radius: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);

}

.outside-container {
    display: block;
    background: #eaeef3;
    width: 100%;
    overflow: auto;
}

.overlapping-title {
    background: #000072;
    margin-top: -4.5%;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);

}

.title-text {
    font-size: 18px;
    color: white;
    font-weight: bold;
}
.title-desc-text {
    font-size: 12px;
    color: white;
    padding-left: 5px;
}



