.side-menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;  /* Set the width of the side menu here */
    overflow: auto;
}

.navbar-wrapper {
    position: fixed;
    top: 0;
    left: 200px;  /* Adjust this value to match the width of the side menu */
    right: 0;
    height: 50px;  /* Set the height of the navbar here */
}

.main-content {
    display: flex;
    flex: 1;
}

.main-content-wrapper {
    position: relative;
    top: 50px;  /* Adjust this value to match the height of the navbar */
    margin-left: 200px;  /* Adjust this value to match the width of the side menu */
    overflow: auto;
}

.content-container {
    display: flex;
    flex-direction: row;
}

.ticket-page-contents {
    flex-grow: 1;
    background-color: #eaeef3;
}

.ticket-display {
    flex: 1;
    background: white;
    padding: 2vh 1vw 2vh 1vw;
    /*margin: 3vh 2vw 5vh 2vw ;*/
    margin-top: 3vh;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    z-index: 0;
    overflow: auto;
    min-width: 79vw;
    max-width: 79vw;
    min-height: 75vh;
}

