.user-link {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.user-link:hover {
    color: inherit;
    text-decoration: underline;
}

.table-user-pv th, .table-user-pv td {
    padding: 8px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    width: 100%;
}

.table-user-pv {
    margin-top: 6vh;
    display: block;
    overflow-x: scroll;
    height: calc(100% - 40px);
}

.table-user-edit-pv th, .table-user-edit-pv td {
    padding: 8px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    width: 100%;
}

.table-user-edit-pv {
    margin-top: 6vh;
    display: block;
    overflow-x: scroll;
    height: calc(100% - 40px);
}


.table-user-edit-pv td:first-child, .table-user-edit-pv th:first-child {
    width: 40px;
    max-width: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pagination {
    margin-top: 0.5rem;
}

.user-table-buttons-pv {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.profile-picture-edit-ut {
    height: 24px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
}






